@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}



/* TRANSICIONES DE VUE */
.fade-enter-active,
.fade-leave-active {
  transition: 0.15s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.fadeResize-enter-active,
.fadeResize-leave-active {
  transition: 0.15s;
  max-height: 100px;
}
.fadeResize-enter, .fadeResize-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  max-height: 0px;
}

/* CLASES DE AYUDA */

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.f-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.texto-verde {
  color: rgb(22, 160, 68);
}

.pointer {
  cursor: pointer;
}



.material-btn {
  background: #EEE;
  border-radius: 5px;
  border: none;
  padding: 6px;
  color: #222;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.material-btn:hover {
  background: #FFF;
}

.material-btn:active {
  background: #DDD;
}

.material-btn.rounded {
  border-radius: 100vw;
}

.material-btn.verde {
  color: #FFF;
  background: rgb(43, 189, 74);
  transition: background-color 0.15s;
}

.material-btn.verde:hover {
  background: rgb(52, 207, 86);
}

.material-btn.verde:active {
  background: rgb(37, 177, 68);
}

.material-btn.icono {
  border-radius: 50%;
  padding: 9px 7px 8px 8px;
}



.tarjeta {
  padding: 10px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}



.tabla {
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tabla td,
.tabla th {
  padding: 8px;
}

.tabla th {
  font-weight: 500;
}

.tabla.rayada tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}

.tabla td.rellenar,
.tabla th.rellenar {
  width: 99%;
}

.tabla.verde th {
  background: rgb(30, 180, 92);
  color: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabla th:not(:last-child),
.tabla td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}



.tarjeta-form input,
.tarjeta-form select {
  margin: 6px;
  min-width: 0;
  padding: 6px;
  font-size: 0.9rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.1s;
}

.tarjeta-form input:focus,
.tarjeta-form select:focus {
  border-color: rgb(43, 189, 74);
}

.tarjeta-form .etiqueta {
  margin-left: 8px;
  font-size: 0.9rem;
  color: #777;
}

.tarjeta-form button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 10px 6px 4px 0;
}

.tarjeta-form h4 {
  margin: 0 0 12px 0;
  color: #444;
}

.tarjeta-form .msg-error {
  color: #F44;
}



.material-input {
  position: relative;
  height: 38px;
  margin: 12px 0px;
  width: 100%;
}

.material-input input {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #BBB;
  transition: border-color 0.2s ease-in-out;
  border-radius: 4px;
  outline: none;
  padding-left: 8px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.material-input input:focus {
  border-color: rgb(27, 184, 79);
  border-width: 2px;
  padding-left: 7px;
}

.material-input label {
  position: absolute;
  left: 5px;
  top: 10px;
  padding: 0 4px;
  background-color: #FFF;
  color: #757575;
  font-size: 1rem;
  transition: 0.2s;
  z-index: 10;
  cursor: text;
}

.material-input input:focus + label {
  left: 6px;
  top: -10px;
  font-size: 12px;
  color: rgb(27, 184, 79);
}

.material-input input:not(:placeholder-shown):not(:focus) + label {
  left: 10px;
  top: -10px;
  font-size: 12px;
}