@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.15s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fadeResize-enter-active,
.fadeResize-leave-active {
  transition: 0.15s;
  max-height: 100px;
}
.fadeResize-enter, .fadeResize-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  max-height: 0px;
}

/* CLASES DE AYUDA */

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.f-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


.texto-verde {
  color: rgb(22, 160, 68);
}

.pointer {
  cursor: pointer;
}


.material-btn {
  background: #EEE;
  border-radius: 5px;
  border: none;
  padding: 6px;
  color: #222;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.material-btn:hover {
  background: #FFF;
}

.material-btn:active {
  background: #DDD;
}

.material-btn.rounded {
  border-radius: 100vw;
}

.material-btn.verde {
  color: #FFF;
  background: rgb(43, 189, 74);
  transition: background-color 0.15s;
}

.material-btn.verde:hover {
  background: rgb(52, 207, 86);
}

.material-btn.verde:active {
  background: rgb(37, 177, 68);
}

.material-btn.icono {
  border-radius: 50%;
  padding: 9px 7px 8px 8px;
}

.tarjeta {
  padding: 10px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.tabla {
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tabla td,
.tabla th {
  padding: 8px;
}

.tabla th {
  font-weight: 500;
}

.tabla.rayada tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}

.tabla td.rellenar,
.tabla th.rellenar {
  width: 99%;
}

.tabla.verde th {
  background: rgb(30, 180, 92);
  color: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabla th:not(:last-child),
.tabla td:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}